<% var cssclass=['odd', 'even'], rcount; rcount = 0; // assignment outside of var statement
if ( username && process.isNew() ) { %>
<form onsubmit='return false;' id='NewProcessForm'></form>
<table class='process' <%= ($el) -> $el.data('process', process) %>>
	<thead><tr><th colspan='2'>New Process</th></tr></thead>
	<tbody>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'><td colspan='2'><input form='NewProcessForm' type='text' class='empty' name='name' placeholder='[technology], [vintage]' autocomplete='off' list='ValidNewProcessNames'><span class='error'></span></td></tr>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td></td>
			<td><button type='button' name='ProcessCreate'>Create</button><button type='button' name='ProcessCancel'>Cancel</button></td>
		</tr>
		<tr><td colspan='2'><p class='error'></p></td></tr>
	</tbody>
</table>
<% } else if ( username && username === analysis.username ) { %>
<form onsubmit='return false;' id='Process_<%= process.attr('id') %>'></form>
<form onsubmit='return false;' id='ProcessCostsFixed_<%= process.attr('id') %>'></form>
<form onsubmit='return false;' id='ProcessCostsVariable_<%= process.attr('id') %>'></form>
<form onsubmit='return false;' id='ProcessEfficiencies_<%= process.attr('id') %>'></form>
<form onsubmit='return false;' id='ProcessEmissionActivities_<%= process.attr('id') %>'></form>
<table class='process' <%= ($el) -> $el.data('process', process) %>>
	<thead><tr><th colspan='2'><%= process.technology.attr('name') %>, <%= process.attr('vintage') %></th></tr></thead>
	<tbody>
	<% if ( process.attr('vintage') < analysis.attr('period_0') ) { %>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='ProcessExistingCapacity_<%= process.attr('id') %>'>Existing Capacity</label></th>
			<td><input form='Process_<%= process.attr('id') %>' id='ProcessExistingCapacity_<%= process.attr('id') %>' type='number' name='existingcapacity' <%= process.attr('existingcapacity') ? 'value="' + process.attr('existingcapacity') + '"' : '' %>><span class='error'></span></td>
		</tr>
	<% } else { %>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='ProcessDiscountRate_<%= process.attr('id') %>'>Discount Rate:</label></th>
			<td><input form='Process_<%= process.attr('id') %>' id='ProcessDiscountRate_<%= process.attr('id') %>' type='number' name='discountrate' placeholder='<%= analysis.attr('global_discount_rate') %> (GDR)' <%= process.attr('discountrate') ? "value='" + process.attr('discountrate') + "'" : '' %>><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='ProcessCostInvest_<%= process.attr('id') %>'>Investment Cost</label></th>
			<td><input form='Process_<%= process.attr('id') %>' id='ProcessCostInvest_<%= process.attr('id') %>' type='number' name='costinvest' <%= process.attr('costinvest') ? 'value="' + process.attr('costinvest') + '"' : '' %>><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='ProcessLoanLife_<%= process.attr('id') %>'>Loan Lifetime:</label></th>
			<td><input form='Process_<%= process.attr('id') %>' id='ProcessLoanLife_<%= process.attr('id') %>' type='number' name='loanlife' <%= process.technology && process.technology.attr('loanlife') ? "placeholder='" + process.technology.attr('loanlife') + " (class)'" : '' %> <%= process.attr('loanlife') ? "value='" + process.attr('loanlife') + "'" : '' %>><span class='error'></span></td>
		</tr>
	<% } %>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Baseload:</th>
			<td class='<%= process.technology.attr('baseload') ? 'is_member' : 'is_not_member' %>'>&nbsp;</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Storage:</th>
			<td class='<%= process.technology.attr('storage') ? 'is_member' : 'is_not_member' %>'>&nbsp;</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='ProcessLifetime_<%= process.attr('id') %>'>Lifetime:</label></th>
			<td><input form='Process_<%= process.attr('id') %>' id='ProcessLifetime_<%= process.attr('id') %>' type='number' name='lifetime' <%= process.technology && process.technology.attr('lifetime') ? "placeholder='" + process.technology.attr('lifetime') + " (class)'" : '' %> <%= process.attr('lifetime') ? "value='" + process.attr('lifetime') + "'" : '' %>><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Efficiency</caption>
					<thead><tr><th><button type='button' class='add' name='AddEfficiency'>Add</button></th><th>Input</th><th>Output</th><th>Value</th></tr></thead>
					<tbody>
					<% process.attr('efficiencies').each( function ( e ) { %>
						<tr <%= ($el) -> $el.data('efficiency', e) %>>
							<% if ( e.isNew() ) { %>
								<td><button type='button' class='remove hidden' name='EfficiencyRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='ProcessEfficiencies_<%= process.attr('id') %>' type='text' class='efficiency_input' name='EfficiencyNew_inp' autocomplete='off' list='CommodityPhysicalList'></td>
								<td><span class='error'></span><input form='ProcessEfficiencies_<%= process.attr('id') %>' type='text' class='efficiency_input' name='EfficiencyNew_out' autocomplete='off' list='CommodityOutputList'></td>
								<td><span class='error'></span><input form='ProcessEfficiencies_<%= process.attr('id') %>' type='number' class='efficiency_input' name='EfficiencyNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove hidden' name='EfficiencyRemove'>Del</button></td>
								<td><%= e.attr('inp') %></td>
								<td><%= e.attr('out') %></td>
								<td><span class='error'></span><input form='ProcessEfficiencies_<%= process.attr('id') %>' type='number' class='efficiency_input' name='Efficiency_<%= e.attr('id') %>' value='<%= e.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Emission Activity</caption>
					<thead><tr><th><button type='button' class='add' name='AddEmissionActivity'>Add</button></th><th>Emission</th><th>Efficiency</th><th>Value</th></tr></thead>
					<tbody>
					<% process.attr('emissionactivities').each( function ( ea ) { %>
						<tr <%= ($el) -> $el.data('emissionactivity', ea) %>>
							<% if ( ea.isNew() ) { %>
								<td><button type='button' class='remove hidden' name='EmissionActivityRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='ProcessEmissionActivities_<%= process.attr('id') %>' type='text' class='emissionactivity_input' name='EmissionActivityNew_pol' autocomplete='off' list='CommodityPhysicalList'></td>
								<td><span class='error'></span><input form='ProcessEmissionActivities_<%= process.attr('id') %>' type='text' class='emissionactivity_input' name='EmissionActivityNew_eff' autocomplete='off' list='CommodityOutputList'></td>
								<td><span class='error'></span><input form='ProcessEmissionActivities_<%= process.attr('id') %>' type='number' class='emissionactivity_input' name='EmissionActivityNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove hidden' name='EmissionActivityRemove'>Del</button></td>
								<td><%= ea.attr('pollutant') %></td>
								<td><%= ea.attr('efficiency').attr('inp') %> &rarr; <%= ea.attr('efficiency').attr('out') %></td>
								<td><span class='error'></span><input form='ProcessEmissionActivities_<%= process.attr('id') %>' type='number' class='emissionactivity_input' name='EmissionActivity_<%= ea.attr('id') %>' value='<%= ea.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Fixed Costs</caption>
					<thead><tr><th><button type='button' class='add' name='AddCostFixed'>Add</button></th><th>Period</th><th>Cost</th></tr></thead>
					<tbody>
					<% process.attr('costsfixed').each( function ( cf ) { %>
						<tr <%= ($el) -> $el.data('costfixed', cf) %>>
							<% if ( cf.isNew() ) { %>
								<td><button type='button' class='remove hidden' name='CostFixedRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='ProcessCostsFixed_<%= process.attr('id') %>' type='text'   class='costfixed_input' name='CostFixedNew_per' autocomplete='off' list='CommodityPhysicalList'></td>
								<td><span class='error'></span><input form='ProcessCostsFixed_<%= process.attr('id') %>' type='number' class='costfixed_input' name='CostFixedNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove hidden' name='CostFixedRemove'>Del</button></td>
								<td><%= cf.attr('period') %></td>
								<td><span class='error'></span><input form='ProcessCostsFixed_<%= process.attr('id') %>' type='number' class='costfixed_input' name='CostFixed_<%= cf.attr('id') %>' value='<%= cf.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Variable Costs</caption>
					<thead><tr><th><button type='button' class='add' name='AddCostVariable'>Add</button></th><th>Period</th><th>Cost</th></tr></thead>
					<tbody>
					<% process.attr('costsvariable').each( function ( cv ) { %>
						<tr <%= ($el) -> $el.data('costvariable', cv) %>>
							<% if ( cv.isNew() ) { %>
								<td><button type='button' class='remove hidden' name='CostVariableRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='ProcessCostsVariable_<%= process.attr('id') %>' type='text'   class='costvariable_input' name='CostVariableNew_per' autocomplete='off' list='CommodityPhysicalList'></td>
								<td><span class='error'></span><input form='ProcessCostsVariable_<%= process.attr('id') %>' type='number' class='costvariable_input' name='CostVariableNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove hidden' name='CostVariableRemove'>Del</button></td>
								<td><%= cv.attr('period') %></td>
								<td><span class='error'></span><input form='ProcessCostsVariable_<%= process.attr('id') %>' type='number' class='costvariable_input' name='CostVariable_<%= cv.attr('id') %>' value='<%= cv.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td></td>
			<td><button type='button' name='ProcessUpdate'>Update</button><button type='button' name='ProcessCancel'>Cancel</button>
			</td>
		</tr>
		<tr><td colspan='2'><p class='error'></p></td></tr>
	</tbody>
</table>

<% } else { %>

<table class='process'>
	<thead><tr><th colspan='2'><%= process.attr('Technology') %>, <%= process.attr('Vintage') %></th></tr></thead>
	<tbody>
		<tr><th>Discount Rate</th><td><% if ( process.attr('DiscountRate') ) { %><%= process.attr('DiscountRate') %><% } else { %><span class='info'><%= analysis.attr('GlobalDiscountRate') %> (GDR)</span><% } %></td></tr>
		<tr><th>Baseload</th><td class='<%= process.technology.attr('baseload') ? 'is_member' : 'is_not_member' %>'></td></tr>
		<tr><th>Storage</th><td class='<%= process.technology.attr('storage') ? 'is_member' : 'is_not_member' %>'></td></tr>
		<tr><th>Lifetime</th><td><% if ( process.attr('LifetimeProcess') ) { %><%= process.attr('LifetimeProcess') %><% } %></td></tr>
		<tr><th>Loan Lifetime</th><td><%= process.attr('LifetimeProcessLoan') ? process.attr('LifetimeProcessLoan') : '' %></td></tr>
	<% if ( process.attr('Vintage') < analysis.attr('Period_0') ) { %>
		<tr><th>Existing Capacity</th><td><%= process.attr('ExistingCapacity') %></td></tr>
	<% } else { %>
		<tr><th>Investment Cost</th><td><%= process.attr('CostInvest') %></td></tr>
	<% } %>

	<% if ( process.attr('Efficiencies') ) { %>
		<tr><td colspan='2'>
			<table class='innertable'>
				<caption>Efficiency</caption>
				<thead><tr><th><!-- would be Add button --></th><th>Input</th><th>Output</th><th>Value</th></tr></thead>
				<tbody>
				<% process.attr('Efficiencies').each( function ( e ) { %>
					<tr>
						<td><!-- would be Del button --></td>
						<td><%= e[0] %></td><td><%= e[1] %></td><td><%= e[2] %></td>
					</tr>
				<% }); %>
				</tbody>
			</table>
		</td></tr>
	<% } else { %>
		<tr><th>Efficiency</th><td><%= process.attr('Efficiencies') %></td></tr>
	<% } %>

	<% if ( process.attr('EmissionActivity') ) { %>
		<tr><td colspan='2'>
			<table class='innertable'>
				<caption>Emission Activity</caption>
				<thead><tr><th><!-- would be Add button --></th><th>Input</th><th>Output</th><th>Value</th></tr></thead>
				<tbody>
				<% process.attr('EmissionActivity').each( function ( e ) { %>
					<tr>
						<td><!-- would be Del button --></td>
						<td><%= e[0] %></td>
						<td><%= e.slice(1,3).join(', ') %></td>
						<td><%= e[3] %></td>
					</tr>
				<% }); %>
				</tbody>
			</table>
		</td></tr>
	<% } else { %>
		<tr><th>Emission Activity</th><td><%= process.attr('EmissionActivity') %></td></tr>
	<% } %>

	<% if ( process.attr('CostFixed') ) { %>
		<tr><td colspan='2'>
			<table class='innertable'>
				<caption>Fixed Cost</caption>
				<thead><tr><th><!-- would be Add button --></th><th>Period</th><th>Cost</th></tr></thead>
				<tbody>
				<% process.attr('CostFixed').each( function ( e ) { %>
					<tr>
						<td><!-- would be Del button --></td>
						<td><%= e[0] %></td><td><%= e[1] %></td>
					</tr>
				<% }); %>
				</tbody>
			</table>
		</td></tr>
	<% } else { %>
		<tr><th>Fixed Cost</th><td><%= process.attr('CostFixed') %></td></tr>
	<% } %>

	<% if ( process.attr('CostVariable') ) { %>
		<tr><td colspan='2'>
			<table class='innertable'>
				<caption>Variable Cost</caption>
				<thead><tr><th><!-- would be Add button --></th><th>Period</th><th>Cost</th></tr></thead>
				<tbody>
				<% process.attr('CostVariable').each( function ( e ) { %>
					<tr>
						<td><!-- would be Del button --></td>
						<td><%= e[0] %></td><td><%= e[1] %></td>
					</tr>
				<% }); %>
				</tbody>
			</table>
		</td></tr>
	<% } else { %>
		<tr><th>Variable Cost</th><td><%= process.attr('CostVariable') %></td></tr>
	<% } %>
	</tbody>
</table>
<% } %>

