<% var oddeven = ['odd', 'even'], tcount;
if ( username ) { %>
<datalist id='TechnologyNames'>
<% technologies.each( function ( t ) { %>
	<option value='<%= t.attr('name') %>'>
<% }); %>
</datalist>
<form>
	<table class='items'>
		<thead><tr><th><button id='NewTechnology' class='add' type='button'>Add</button></th><th>Name</th></tr></thead>
		<tbody>
		<% tcount = 0; technologies.each( function ( t ) { %>
			<tr class='<%== oddeven[++tcount % 2] %>' data-id='<%= t.attr('id') %>' <%= ($el) -> $el.data('technology', t) %>>
				<td><%== username === t.attr('username') ? "<button class='remove hidden' type='button' name='RemoveTechnology'>Del</button>" : '' %></td>
				<td><%= t.attr('name') %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
</form>
<% } else { %>
<table class='items'>
	<thead><tr><th>Name</th></tr></thead>
	<tbody>
	<% tcount = 0; technologies.each( function( t ) { %>
		<tr class='<%== oddeven[++tcount % 2] %>' data-id='<%= t.attr('id') %>' <%= ($el) -> $el.data('technology', t) %>><td><%= t.attr('name') %></td></tr>
	<% }); %>
	</tbody>
</table>
<% } %>
