<% var cssclass=['odd', 'even'], rcount; rcount = 0; // assignment outside of var statement
if ( username && username === analysis.username ) { %>
<form onsubmit='return false;' id='FormTechnology_<%= technology.attr('id') %>'></form>
<form onsubmit='return false;' id='FormTechnologyCapacityFactors_<%= technology.attr('id') %>'></form>
<form onsubmit='return false;' id='FormTechnologyInputSplits_<%= technology.attr('id') %>'></form>
<form onsubmit='return false;' id='FormTechnologyOutputSplits_<%= technology.attr('id') %>'></form>
<table class='technology' <%= ($el) -> $el.data('technology', technology) %>>
	<thead><tr><th colspan='2'><%= technology.attr('name') %></th></tr></thead>
	<tbody>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Description:</th>
			<td><%== escapeHTML( technology.attr('description') ).replace(/\n/g, '<br />') %></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyBaseload_<%= technology.attr('id') %>'>Baseload:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyBaseload_<%= technology.attr('id') %>' type='checkbox' name='baseload' value='true' <%= technology.attr('baseload') ? 'checked' : '' %>><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyStorage_<%= technology.attr('id') %>'>Storage:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyStorage_<%= technology.attr('id') %>' type='checkbox' name='storage' value='true' <%= technology.attr('storage') ? 'checked' : '' %>><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyLoanLife_<%= technology.attr('id') %>'>Loan Life:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyLoanLife_<%= technology.attr('id') %>' type='number' name='loanlife' placeholder='default loan life' value='<%= technology.attr('loanlife') ? technology.attr('loanlife') : '' %>'><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyLifetime_<%= technology.attr('id') %>'>Lifetime:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyLifetime_<%= technology.attr('id') %>' type='number' name='lifetime' placeholder='default tech life' value='<%= technology.attr('lifetime') ? technology.attr('lifetime') : '' %>'><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyCapacityToActivity_<%= technology.attr('id') %>'>Capacity to Activity:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyCapacityToActivity_<%= technology.attr('id') %>' type='number' name='capacitytoactivity' placeholder='default c2a' value='<%= technology.attr('capacitytoactivity') ? technology.attr('capacitytoactivity') : '' %>'><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyGrowthRateLimit_<%= technology.attr('id') %>'>Growth Rate Limit:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyGrowthRateLimit_<%= technology.attr('id') %>' type='number' name='growthratelimit' placeholder='percentage' value='<%= technology.attr('growthratelimit') ? technology.attr('growthratelimit') : '' %>'><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th><label for='TechnologyGrowthRateSeed_<%= technology.attr('id') %>'>Growth Rate Seed:</label></th>
			<td><input form='FormTechnology_<%= technology.attr('id') %>' id='TechnologyGrowthRateSeed_<%= technology.attr('id') %>' type='number' name='growthrateseed' placeholder='min allowed' value='<%= technology.attr('growthrateseed') ? technology.attr('growthrateseed') : '' %>'><span class='error'></span></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Capacity Factor</caption>
					<thead><tr><th><button type='button' class='add' name='AddCapacityFactorTech'>Add</button></th><th>Time Slice</th><th>Value</th></tr></thead>
					<tbody>
					<% technology.attr('capacityfactors').each( function ( capfac ) { %>
						<tr <%= ($el) -> $el.data('capacityfactor', capfac) %>>
							<% if ( capfac.isNew() ) { %>
								<td><button type='button' class='remove' disabled='disabled' title='Press Shift to enable buttons' name='CapacityFactorTechRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='FormTechnologyCapacityFactors_<%= technology.attr('id') %>' type='text'   class='techcapacityfactor_input' name='CapacityFactorTechNew_timeslice' autocomplete='off' list='TimesliceList'></td>
								<td><span class='error'></span><input form='FormTechnologyCapacityFactors_<%= technology.attr('id') %>' type='number' class='techcapacityfactor_input' name='CapacityFactorTechNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove' disabled='disabled' title='Press Shift to enable buttons' name='CapacityFactorTechRemove'>Del</button></td>
								<td><%= capfac.attr('segfrac').name() %></td>
								<td><span class='error'></span><input form='FormTechnologyCapacityFactors_<%= technology.attr('id') %>' type='number' class='techcapacityfactor_input' name='CapacityFactorTech_<%= capfac.attr('id') %>' value='<%= capfac.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Input Split</caption>
					<thead><tr><th><button type='button' class='add' name='AddInputSplit'>Add</button></th><th>Input</th><th>Percentage</th></tr></thead>
					<tbody>
					<% technology.attr('inputsplits').each( function ( is ) { %>
						<tr <%= ($el) -> $el.data('inputsplit', is) %>>
							<% if ( is.isNew() ) { %>
								<td><button type='button' class='remove' disabled='disabled' title='Press Shift to enable buttons' name='InputSplitRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='FormTechnologyInputSplits_<%= technology.attr('id') %>' type='text'   class='techinputsplit_input' name='InputSplitNew_inp' autocomplete='off' list='CommodityPhysicalList'></td>
								<td><span class='error'></span><input form='FormTechnologyInputSplits_<%= technology.attr('id') %>' type='number' class='techinputsplit_input' name='InputSplitNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove' disabled='disabled' title='Press Shift to enable buttons' name='InputSplitRemove'>Del</button></td>
								<td><%= is.attr('inp') %></td>
								<td><span class='error'></span><input form='FormTechnologyInputSplits_<%= technology.attr('id') %>' type='number' class='techinputsplit_input' name='InputSplit_<%= is.attr('id') %>' value='<%= is.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Output Split</caption>
					<thead><tr><th><button type='button' class='add' name='AddOutputSplit'>Add</button></th><th>Output</th><th>Percentage</th></tr></thead>
					<tbody>
					<% technology.attr('outputsplits').each( function ( os ) { %>
						<tr <%= ($el) -> $el.data('outputsplit', os) %>>
							<% if ( os.isNew() ) { %>
								<td><button type='button' class='remove' disabled='disabled' title='Press Shift to enable buttons' name='OutputSplitRemove'>Cancel</button></td>
								<td><span class='error'></span><input form='FormTechnologyOutputSplits_<%= technology.attr('id') %>' type='text'   class='techoutputsplit_output' name='OutputSplitNew_out' autocomplete='off' list='CommodityOutputList'></td>
								<td><span class='error'></span><input form='FormTechnologyOutputSplits_<%= technology.attr('id') %>' type='number' class='techoutputsplit_output' name='OutputSplitNew_value'></td>
							<% } else { %>
								<td><button type='button' class='remove' disabled='disabled' title='Press Shift to enable buttons' name='OutputSplitRemove'>Del</button></td>
								<td><%= os.attr('out') %></td>
								<td><span class='error'></span><input form='FormTechnologyOutputSplits_<%= technology.attr('id') %>' type='number' class='techoutputsplit_output' name='OutputSplit_<%= os.attr('id') %>' value='<%= os.attr('value') %>'></td>
							<% } %>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td></td>
			<td><button type='button' name='TechnologyUpdate'>Update</button><button type='button' name='TechnologyCancel'>Cancel</button></td>
		</tr>
		<tr><td colspan='2'><p class='error'></p></td></tr>
	</tbody>
</table>

<% } else { %>

<table class='technology'>
	<thead><tr><th colspan='2'><%= technology.attr('name') %></th></tr></thead>
	<tbody>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Description:</th>
			<td><%== escapeHTML( technology.attr('description') ).replace(/\n/g, '<br />') %></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Baseload:</th>
			<td class='<%= technology.attr('baseload') ? 'is_member' : 'is_not_member' %>'>&nbsp;</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Storage:</th>
			<td class='<%= technology.attr('storage') ? 'is_member' : 'is_not_member' %>'>&nbsp;</td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Loan Life:</th>
			<td><%= technology.attr('loanlife') ? technology.attr('loanlife') : '' %></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Lifetime:</th>
			<td><%= technology.attr('lifetime') ? technology.attr('lifetime') : '' %></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Capacity to Activity:</th>
			<td><%= technology.attr('capacitytoactivity') ? technology.attr('capacitytoactivity') : '' %></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Growth Rate Limit:</th>
			<td><%= technology.attr('growthratelimit') ? technology.attr('growthratelimit') : '' %></td>
		</tr><tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<th>Growth Rate Seed:</th>
			<td><%= technology.attr('growthrateseed') ? technology.attr('growthrateseed') : '' %></td>
		</tr>
		<% if ( technology.attr('inputsplits').length > 0 ) { %>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Input Split</caption>
					<thead><tr><th>Input</th><th>Percentage</th></tr></thead>
					<tbody>
					<% technology.attr('inputsplits').each( function ( is ) { %>
						<tr>
							<td><%= is.attr('inp') %></td>
							<td><%= is.attr('value') %></td>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr>
		<% } if ( technology.attr('outputsplits').length > 0 ) { %>
		<tr class='<%== cssclass[ ++rcount % 2 ] %>'>
			<td colspan='2'>
				<table class='innertable'>
					<caption>Output Split</caption>
					<thead><tr><th>Output</th><th>Percentage</th></tr></thead>
					<tbody>
					<% technology.attr('outputsplits').each( function ( os ) { %>
						<tr>
							<td><%= os.attr('out') %></td>
							<td><%= os.attr('value') %></td>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<% } %>

