<% var oddeven = ['odd', 'even'], count, sum, epsilon = 1e-7; %>
<button type='button' id='AnalysisParametersCloseButton' class='closeButton'>Close</button>
<% if ( username !== null && (analysis.username === username) ) { %>
	<form onsubmit='return false;' id='AnalysisSegFracs_<%= analysis.attr('id') %>'></form>
	<form onsubmit='return false;' id='AnalysisDemands_<%= analysis.attr('id') %>'></form>
	<form onsubmit='return false;' id='AnalysisDemandDefaultDistribution_<%= analysis.attr('id') %>'></form>
	<table class='items segfracs'>
		<caption>Annual Time Slices (SegFrac), Default Distribution (DD)</caption>
		<thead><tr><th><button type='button' class='add' id='AddTimeSlice' title='Add new annual slice'>Add</button></th>
		<% analysis.segfracs.each( function( s ) { %>
			<th <%= ($el) -> $el.data('segfrac', s ) %>>
				<button class='remove' disabled='disabled' type='button' name='SegFracRemove' title='Press Shift to enable buttons'>Del</button><br />
				<input form='AnalysisSegFracs_<%= analysis.attr('id') %>' name='<%= s.isNew() ? 'SliceName_New' : 'SliceName_' + s.attr('id') %>' type='text' autocomplete='off' placeholder='[season], [daily_seg]' value='<%= s.attr('name') || '' %>'>
				<span class='error'></span>
			</th>
		<% }); %>
		<th><em>Total</em></th>
		</tr></thead>
		<tbody>
		<tr class='odd'><th>SegFrac</th>
		<% analysis.segfracs.each( function( sf ) { %>
			<td>
				<input form='AnalysisSegFracs_<%= analysis.attr('id') %>' name='<%= sf.isNew() ? 'SliceValue_New' : 'SliceValue_' + sf.attr('id') %>' type='number' autocomplete='off' value='<%= sf.attr( 'value' ) || '' %>'>
				<span class='error'></span>
			</td>
		<% }); %>
			<td><%== analysis.segFracSum('html') %></td>
		</tr><tr class='even'><th><abbr title='"Default Distribution": If specified, will provide a demand distribution different than the average for the timeslice'>DD</abbr></th>
		<% analysis.segfracs.each( function( sf ) {
			var ddd = analysis.demanddefaultdistribution.attr( sf.attr('name') );
		%>
			<td <%= ($el) -> $el.data('slicedefault', ddd)%>>
			<% if ( ! sf.isNew() ) { %>
				<%== ddd.isNew() ? '' : "<button class='remove' disabled='disabled' type='button' name='DDDRemove' title='Press Shift to enable buttons'>Del</button>" %><br />
				<input form='AnalysisDemandDefaultDistribution_<%= analysis.attr('id') %>' name='DDD_<%= sf.attr('id') %>' type='number' autocomplete='off' value='<%= ddd.attr( 'value' ) || '' %>'>
				<span class='error'></span>
			<% } %>
			</td>
		<% }); %>
			<td><%== analysis.dddFracSum('html') %></td>
		</tr>
		<tr><td></td><td colspan='<%= Object.keys( analysis.segfracs.attr() ).length %>'><p class='error'></p><button type='button' name='SegFracUpdate'>Update</button><button type='button' name='SegFracCancel'>Cancel</button></td></tr>
		</tbody>
	</table>
	<br>
<% if ( analysis.commodity_demand.length > 0 ) { %>
	<table class='items demands'>
		<caption>Period Demand Values</caption>
		<thead><tr><th></th>
		<% analysis.future_periods.each( function ( fp ) { %>
			<th><%= fp %></th>
		<% }); %>
		</tr></thead>
		<tbody>
		<% count = 0; analysis.commodity_demand.each( function( c ) { %>
			<tr class='<%== oddeven[++count % 2] %>'>
				<th><%= c.attr('name') %></th>
				<% analysis.future_periods.each( function ( fp ) {
					var name = c.attr('name') + ', ' + fp;
					var dem = analysis.future_demands.attr( name );
					console.log( 'Name, dem: ', name, dem.attr('value'), dem );
				%>
					<td <%= ($el) -> $el.data('demand', dem) %>><input
					  form='AnalysisDemands_<%= analysis.attr('id') %>'
					  name='<%= dem.attr('name') %>'
					  type='number'
					  autocomplete='off'
					  value='<%= dem.attr('value') || '' %>'></td>
				<% }); %>
			</tr>
		<% }); %>
		<tr><td></td><td colspan='<%= analysis.future_periods.attr('length') %>'><p class='error'></p><button type='button' name='DemandsUpdate'>Update</button><button type='button' name='DemandsCancel'>Cancel</button></td></tr>
		</tbody>
	</table>
	<% } else { %>
	<p>There are no end-use demand commodities defined.</p>
	<% } %>
<% } else { %>
<% } %>
