<% var oddeven = ['odd', 'even'], dcount, ecount, pcount; %>
<datalist id='CommodityEmissionList'>
<% analysis.commodity_emission.each( function ( c ) { %>
	<option value='<%= c.attr('name') %>'>
<% }); %>
</datalist>
<datalist id='CommodityPhysicalList'>
<% analysis.commodity_physical.each( function ( c ) { %>
	<option value='<%= c.attr('name') %>'>
<% }); %>
</datalist><datalist id='CommodityOutputList'>
<% analysis.commodity_output.each( function ( c ) { %>
	<option value='<%= c.attr('name') %>'>
<% }); %>
</datalist>
<button type='button' id='CommodityListsCloseButton' class='closeButton'>Close</button>
<% if ( username !== null && (analysis.username === username) ) { %>
<form>
	<table class='items demand'>
		<caption>Demand Commodities</caption>
		<thead><tr><th class='action'><button id='NewCommodityDemand' class='add' type='button'>Add</button></th><th>Name</th></tr></thead>
		<tbody>
		<% dcount = 0; analysis.commodity_demand.each( function( c ) { %>
			<tr class='<%== oddeven[++dcount % 2] %>' data-id='<%= c.attr('id') %>' <%= ($el) -> $el.data('commodity', c) %>>
				<td class='action'><button class='remove' disabled='disabled' title='Press Shift to enable buttons' type='button' name='CommodityDemandRemove'>Del</button></td>
				<td><%= c.attr('name') %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
	<table class='items physical'>
		<caption>Physical Commodities</caption>
		<thead><tr><th class='action'><button id='NewCommodityPhysical' class='add' type='button'>Add</button></th><th>Name</th></tr></thead>
		<tbody>
		<% pcount = 0; analysis.commodity_physical.each( function( c ) { %>
			<tr class='<%== oddeven[++pcount % 2] %>' data-id='<%= c.attr('id') %>' <%= ($el) -> $el.data('commodity', c) %>>
				<td class='action'><button class='remove' disabled='disabled' title='Press Shift to enable buttons' type='button' name='CommodityPhysicalRemove'>Del</button></td>
				<td><%= c.attr('name') %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
	<table class='items emission'>
		<caption>Emission Commodities</caption>
		<thead><tr><th class='action'><button id='NewCommodityEmission' class='add' type='button'>Add</button></th><th>Name</th></tr></thead>
		<tbody>
		<% ecount = 0; analysis.commodity_emission.each( function( c ) { %>
			<tr class='<%== oddeven[++ecount % 2] %>' data-id='<%= c.attr('id') %>' <%= ($el) -> $el.data('commodity', c) %>>
				<td class='action'><button class='remove' disabled='disabled' title='Press Shift to enable buttons' type='button' name='CommodityPhysicalRemove'>Del</button></td>
				<td><%= c.attr('name') %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
</form>
<div id='commodity_detail'></div>

<% } else { %>

<table class='items demand'>
	<caption>Demand Commodities</caption>
	<tbody>
	<% dcount = 0; analysis.commodity_demand.each( function( c ) { %>
		<tr class='<%== oddeven[++dcount % 2] %>' data-id='<%= c.attr('id') %>' <%= ($el) -> $el.data('commodity', c) %>>
			<td><%= c.attr('name') %></td>
		</tr>
	<% }); %>
	</tbody>
</table>
<table class='items physical'>
	<caption>Physical Commodities</caption>
	<tbody>
	<% pcount = 0; analysis.commodity_physical.each( function( c ) { %>
		<tr class='<%== oddeven[++pcount % 2] %>' data-id='<%= c.attr('id') %>' <%= ($el) -> $el.data('commodity', c) %>>
			<td><%= c.attr('name') %></td>
		</tr>
	<% }); %>
	</tbody>
</table>
<table class='items emission'>
	<caption>Emission Commodities</caption>
	<tbody>
	<% ecount = 0; analysis.commodity_emission.each( function( c ) { %>
		<tr class='<%== oddeven[++ecount % 2] %>' data-id='<%= c.attr('id') %>' <%= ($el) -> $el.data('commodity', c) %>>
			<td><%= c.attr('name') %></td>
		</tr>
	<% }); %>
	</tbody>
</table>
<div id='commodity_detail'></div>
<% } %>
