<% var oddeven = ['odd', 'even'], count, sum, epsilon = 1e-7; %>
<button type='button' id='AnalysisParametersCloseButton' class='closeButton'>Close</button>
<% if ( username !== null && (analysis.username === username) ) { %>
	<form onsubmit='return false;' id='SegFracs_<%= analysis.attr('id') %>'></form>
	<form onsubmit='return false;' id='Demands_<%= analysis.attr('id') %>'></form>
	<form onsubmit='return false;' id='DemandSpecificDistribution_<%= analysis.attr('id') %>'></form>
	<table class='items segfracs'>
		<caption>Annual Time Slices (SegFrac), Default Distribution (DD)</caption>
		<thead><tr><th><button type='button' class='add' id='AddTimeSlice' title='Add new annual slice'>Add</button></th>
		<% analysis.segfracs.each( function( s ) { %>
			<th <%= ($el) -> $el.data('segfrac', s ) %>>
				<button class='remove' disabled='disabled' type='button' name='SegFracRemove' title='Press Shift to enable buttons'>Del</button><br />
				<input form='SegFracs_<%= analysis.attr('id') %>' name='<%= s.isNew() ? 'SliceName_New' : 'SliceName_' + s.attr('id') %>' type='text' autocomplete='off' placeholder='[season], [daily_seg]' value='<%= s.attr('name') || '' %>'>
				<span class='error'></span>
			</th>
		<% }); %>
		<th><em>Total</em></th>
		</tr></thead>
		<tbody>
		<tr class='odd'><th>SegFrac</th>
		<% analysis.segfracs.each( function( sf ) { %>
			<td>
				<input form='SegFracs_<%= analysis.attr('id') %>' name='<%= sf.isNew() ? 'SliceValue_New' : 'SliceValue_' + sf.attr('id') %>' type='number' autocomplete='off' value='<%= sf.attr( 'value' ) || '' %>'>
				<span class='error'></span>
			</td>
		<% }); %>
			<td><%== analysis.segFracSum('html') %></td>
		</tr><tr class='even'><th><abbr title='"Default Distribution": If specified, will provide a demand distribution different than the average for the timeslice'>DD</abbr></th>
		<% analysis.segfracs.each( function( sf ) {
			var ddd = sf.attr('demanddefaultdistribution');
		%>
			<td <%= ($el) -> $el.data('slicedefault', ddd)%>>
			<% if ( ! sf.isNew() ) { %>
				<input form='SegFracs_<%= analysis.attr('id') %>' name='DDD' type='number' autocomplete='off' value='<%= sf.attr( 'demanddefaultdistribution' ) || '' %>'>
				<span class='error'></span>
			<% } %>
			</td>
		<% }); %>
			<td><%== analysis.dddFracSum('html') %></td>
		</tr>
		<tr><td></td><td colspan='<%= Object.keys( analysis.segfracs.attr() ).length %>'><p class='error'></p><button type='button' name='SegFracUpdate'>Update</button><button type='button' name='SegFracCancel'>Cancel</button></td></tr>
		</tbody>
	</table>
	<br>
<% if ( analysis.commodity_demand.length > 0 ) { %>
	<table class='items demands'>
		<caption>Period Demand Values</caption>
		<thead><tr><th></th>
		<% analysis.future_periods.each( function ( fp ) { %>
			<th><%= fp %></th>
		<% }); %>
		</tr></thead>
		<tbody>
		<% count = 0; analysis.commodity_demand.each( function( c ) { %>
			<tr class='<%== oddeven[++count % 2] %>'>
				<th><%= c.attr('name') %></th>
				<% analysis.future_periods.each( function ( fp ) {
					var name = c.attr('name') + ', ' + fp;
					var dem = analysis.future_demands.attr( name );
				%>
					<td <%= ($el) -> $el.data('demand', dem) %>><input
					  form='Demands_<%= analysis.attr('id') %>'
					  name='<%= dem.attr('name') %>'
					  type='number'
					  autocomplete='off'
					  value='<%= dem.attr('value') || '' %>'></td>
				<% }); %>
			</tr>
		<% }); %>
		<tr><td></td><td colspan='<%= analysis.future_periods.attr('length') %>'><p class='error'></p><button type='button' name='DemandsUpdate'>Update</button><button type='button' name='DemandsCancel'>Cancel</button></td></tr>
		</tbody>
	</table>
	<br>
	<datalist id='ValidDemandSpecificDistributionList'>
		<% analysis.commodity_demand.each( function ( dem ) {
				var dsd_list = analysis.demandspecificdistribution;
				for ( var i = 0; i < dsd_list.length; ++i )
					if ( dsd_list[i]['name'] === dem['name'] )
						// it's already in use!
						return;
		%>
		<option value='<%= dem && dem.attr('name') %>'>
		<% }); %>
	</datalist>
	<table class='items demandspecificdistributions'>
		<caption>Individual Demand Distributions</caption>
		<thead><tr><th><button type='button' class='add' id='AddDemandDistribution' title='Add new demand distribution'>Add</button></th>
		<% analysis.segfracs.each( function( sf ) {
			if ( sf.isNew() )
				return; // don't let user update timeslice before it exists
		%>
			<th><%= sf.attr('name') %></th>
		<% }); %>
		<th><em>Total</em></th>
		</tr></thead>
		<tbody>
		<% count = 0; analysis.demandspecificdistribution.each( function ( demand ) { %>
			<tr class='dsd <%== oddeven[++count % 2] %>'>
			<th><%== demand.attr('name') ? escapeHTML( demand.attr('name') ) : "<input form='DemandSpecificDistribution_" + analysis.attr('id') + "' name='NewDSD_name' type='text' autocomplete='off' list='ValidDemandSpecificDistributionList' placeholder='[demand commodity]'>"; %><span class='error'></span></th>
			<%
				analysis.segfracs.each( function( sf ) {
					if ( sf.isNew() )
						return;
					var dsd = demand.attr( sf.attr('name') );
			%>
				<td <%= ($el) -> $el.data('demanddistribution', dsd ) %>>
				<% if ( demand.attr('name') ) { %>
					<input
						form='DemandSpecificDistribution_<%= analysis.attr('id') %>'
						name='DSD_value_<%= dsd.attr('dId') + ',' + dsd.attr('sfId') %>'
						type='number' autocomplete='off'
						value='<%= dsd.attr('value') || "" %>'>
				<% } %>
					<span class='error'></span>
				</td>
			<% }); %>
				<td><!-- SUM THING HERE --></td>
			</tr>
		<% }); %>
		<tr><td></td><td colspan='<%= Object.keys( analysis.demandspecificdistribution.attr() ).length %>'><p class='error'></p><button type='button' name='DemandSpecificDistributionsUpdate'>Update</button><button type='button' name='DemandSpecificDistributionCancel'>Cancel</button></td></tr>
		</tbody>
	</table>
	<% } else { %>
	<p>There are no end-use demand commodities defined.</p>
	<% } %>

<% } else { %>

	<table class='items segfracs'>
		<caption>Annual Time Slices (SegFrac), Default Distribution (DD)</caption>
		<thead><tr><th></th>
		<% analysis.segfracs.each( function( s ) { %>
			<th><%= s.attr('name') %></th>
		<% }); %>
		<th><em>Total</em></th>
		</tr></thead>
		<tbody>
		<tr class='odd'><th>SegFrac</th>
		<% sum = 0; analysis.segfracs.each( function( sf ) {
			sum += sf.attr( 'value' ) || 0;
		%>
			<td><%= sf.attr( 'value' ) || '' %></td>
		<% }); %>
			<td><%== sum ? (Math.abs(1 - sum) > epsilon ? '<span class="error">' + sum + '</span>' : 1) : '' %></td>
		</tr><tr class='even'><th>DD</th>
		<% sum = 0; analysis.segfracs.each( function( sf ) {
			var name = sf.attr('name');
			var ddd  = sf.attr('demanddefaultdistribution');
			if ( ddd )
				sum += ddd || 0;
		%>
			<td><%= ddd || ' - ' %></td>
		<% }); %>
			<td><%== sum ? (Math.abs(1 - sum) > epsilon ? '<span class="error">' + sum + '</span>' : 1) : '' %></td>
		</tr>
		</tbody>
	</table>
	<br>
<% if ( analysis.commodity_demand.length > 0 ) { %>
	<table class='items demands'>
		<caption>Period Demand Values</caption>
		<thead><tr><th></th>
		<% analysis.future_periods.each( function ( fp ) { %>
			<th><%= fp || ' - ' %></th>
		<% }); %>
		</tr></thead>
		<tbody>
		<% count = 0; analysis.commodity_demand.each( function( c ) {%>
			<tr class='<%== oddeven[++count % 2] %>'>
				<th><%= c.attr('name') %></th>
				<% analysis.future_periods.each( function ( fp ) {
					var name = c.attr('name') + ', ' + fp;
					var dem = analysis.future_demands.attr( name );
				%>
					<td><%= dem.attr('value') || ' - ' %></td>
				<% }); %>
			</tr>
		<% }); %>
		</tbody>
	</table>
	<br>
	<table class='items demandspecificdistributions'>
		<caption>Individual Demand Distributions</caption>
		<thead><tr><th></th>
		<% analysis.segfracs.each( function( sf ) { %>
			<th><%= sf.attr('name') %></th>
		<% }); %>
		<th><em>Total</em></th>
		</tr></thead>
		<tbody>
		<% count = 0; analysis.demandspecificdistribution.each( function ( dsd ) { %>
			<tr class='<%== oddeven[++count % 2] %>'>
				<th><%= dsd.attr('name'); %></th>
				<% sum = 0; analysis.segfracs.each( function( sf ) {
					var name = sf.attr('name');
					sum += dsd.attr( name ) && dsd.attr( name ).attr('value') || 0;
					%>
					<td><%= dsd.attr( name ) && dsd.attr( name ).attr('value') || ' - ' %></td>
				<% }); %>
				<td><%== sum ? (Math.abs(1 - sum) > epsilon ? '<span class="error">' + sum + '</span>' : 1) : '' %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
	<% } else { %>
	<p>There are no end-use demand commodities defined.</p>
	<% } %>
<% } %>
